body {
  position: relative;
}

#content {
  position: relative;
}

#game {
	clear: both;
  position: relative;
  margin: 0;
}

pre.scroll {
    letter-spacing: 0.025em;
    color: #8B4513;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 1.25em;
    background: #FDF5E6;
    padding: 1.5em 1em 2em 1em;
    width: 35em;
    border: 3px solid #BC8F8F;
}

.backdrop {
    height: 26.7vw;
    width: 100vw;
    /*background: url("../custom_img/lake-bg.png") no-repeat;*/
    /*background: url("../custom_img/notSky.png") no-repeat;*/
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto 1.2vh;
    position: relative;
}

#justSky {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../custom_img/justSky.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#notSky {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../custom_img/notSky.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#scrim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #4B6C6D;
  opacity: 0;
  background-blend-mode: lighten;
  background-image: url("../custom_img/fireworks.gif");
  background-position: center center;
  background-repeat: repeat-y;
}

svg#logo polygon.lev_bg {
  fill: #e5cf6b;
}
svg#logo polygon.l_bg {
  fill: #499c9e;
}

/*For end-game fade animation*/
#blackBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 99;
}

#boat-container {
  position: relative;
  top: 67%;
  left: 14%;
  width: 70vw;
  height: 2.2vw;
  overflow: hidden;
}

/* place this just above the back of the boat. */
#gas_tank {
  display: block;
  position: absolute;
  top: calc(67% - 2vh);
  left: calc(14% - 4vw);
  width: 5vw;
  height: 1.7vw;
  display: none;
}

#boat {
    position: relative;
    width: 8vw;
    height: 2.2vw;
    background-image: url("../custom_img/boat.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 0px;
}

svg#gauge {
  width: 9vw;
  height: 9vw;
  top: 13.6vw;
  position: relative;
  left: 2vw;
}

p.intro {
  font-size: 1.5em;
  padding: 0.5em 1em;
  background: white;
  border: 2px solid #999;
}

.card.prompt {
  font-size: 1.75vw;
  width: 90vw;
  margin-left: 1.25vw;
}

.card.prompt a {
  text-decoration: none;
  cursor: default;
  padding: 0.25em;
}



.multiple_choice_card,
.multiple_choice_card li input {
  font-size: 1.5em;
}
.multiple_choice_card li label {
  padding-left: 0.25em;
}
.multiple_choice_card li {
  list-style-type: none;
  margin-bottom: 0.5em;
}

#question_prompt,
#answers {
    position: relative;
    font-size: 1.5em;
    top: 400px;
    left: 45%;  
}

/******************************************************************************
Swim animation
******************************************************************************/
#swimmer {
  width: 6.5vw;
  height: 2.4vw;
  background: url("../custom_img/swimmer_outline.gif");
  background-size: 6.5vw 2.4vw, cover;
  position: relative;
  display: none;
}

@-webkit-keyframes swimBack {
  0% {
    
  }
  100% {
    left: 10%;
  }
}

/******************************************************************************
Win animation
******************************************************************************/
#skyGradient {
  background-image: url(../custom_img/justSky.png);
  background-color: #4B6C6D; /*dark blue*/
  background-blend-mode: multiply; /*can try others*/
}

#notSky {
  
}